<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-3level - %logger{15} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- <appender name="STDOUT-QUERY" class="ch.qos.logback.core.ConsoleAppender"> -->
    <!-- <encoder> -->
    <!-- <pattern> -->
    <!-- %d{HH:mm:ss.SSS} [%thread] %-5level [Hibernate] - %msg%n -->
    <!-- </pattern> -->
    <!-- </encoder> -->
    <!-- </appender> -->

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <!--
        <logger name="org.hibernate.type" level="TRACE">
            <appender-ref ref="STDOUT-QUERY" />
        </logger>
    -->



    <logger name="org.hibernate.type" level="INFO">
        <appender-ref ref="STDOUT-QUERY" />
    </logger>


    <logger name="org.apache.solr" level="DEBUG">
        <appender-ref ref="STDOUT-QUERY" />
    </logger>


</configuration>